:root {
    --background-base: #F9F9F9;
    --background-saturated: #F6ECBF;
    --foreground-standard: #C886E5;
    --foreground-lighter: #CAADDE;

    --pastel-blue: #b9e2e6;
    --pastel-yellow: #fcf784;
    --pastel-pink: #fac7c4;
    --pastel-green: #bef1ae;
    --pastel-red: #f9b0a7;
    --pastel-grey: #d6d6e2;
    --pastel-orange: #FFD2A5;
}

html, body, #root {
    position: relative;
    min-height: 100%;
    margin: 0px;
    padding: 0px;
    font-family: "Pacifico";
    font-weight: 100;
    font-size: 16px;
}

body {
    background-color: var(--background-saturated);
}

.character-icon {
    height: 7em;
    width: auto;
    margin: 0px;
}

.close {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(1rem, -1rem);
    width: 2rem;
    height: 2rem;
    border-radius: 100px 100px;
    font-family: "Pacifico";
    font-weight: 100;
    background-color: var(--background-base);
    box-shadow: 1px 1px 1px black;
    border: none;
}

.close:hover {
    background-color: var(--background-saturated);
}

.clickable-icon {
    width: 7rem;
    height: 7rem;
    background-color: white;
    border-radius: 100px 100px;
    text-align: center;
    margin: auto;
}

.clickable-icon:hover {
    background-color: var(--background-saturated);
}

.bottom-right {
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(3rem, -3rem);
    margin: 0px;
    padding: 0px;
}

.margin-zero-point-five {
    margin: 0.5rem;
}

/* main hub for center elements */
#centerground {
    position: relative;
    background-color: var(--foreground-standard);
    width: 70vw;
    height: 100%;
    min-height: 100vh;
    margin: 0px auto;
    padding: 2rem 0px;
    z-index: 1;
}

#sidebar {
    position: absolute;
    top: 0;
    left: calc(15% - 32px);
    width: 32px;
    height: 100%;
    min-height: 100vh;
    color: red;
    background-image: url("./decoration.png");
    background-repeat: repeat-y;
    background-color: var(--foreground-standard);
}

#storyteller-plaque {
    position: relative;
    margin: 2em 1.5em;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    display: block;
    background-color: var(--background-base);
    width: 80%;
    padding: 1.2em;
    box-shadow: 0px 6px 4px black;
}

.flexrow {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

#storyteller-plaque h1 {
    font-size: 2em;
    margin: auto 1em;
}

#storyteller-plaque ul li {
    position: relative;
    width: 12rem;
    margin: 1em;
    padding: 0.5em;
    background-color: var(--pastel-grey);
    box-shadow: 1px 1px 1px black;
}

#storyteller-plaque ul, #storyteller-plaque li {
    list-style: none;
}

#storyteller-plaque ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0px;
    padding: 0px;
}

#notes-section ul, #notes-section li {
    list-style: none;
}

#notes-section ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0px;
    padding: 0px;
}

#notes-section ul li {
    margin: 2.25em 0em;
    height: 12em;
}

.circle {
    position: absolute;
    left: 50%;
    transform: translate(-1.2rem, -1.2rem);
    width: 2rem;
    height: 2rem;
    border: 3px solid silver;
    border-radius: 50%;
    box-shadow: 1px 1px 1px black;
}

.prev-next-button {
    height: 1.6rem;
    width: 3.3rem;
    font-family: "Pacifico";
    font-weight: 100;
    position: absolute;
    background-color: var(--background-base);
    border: none;
    border-radius: 5px;
}

.prev-next-button:hover {
    background-color: var(--background-saturated);
}

.prev-button {
    right: 50%;
    transform: translate(-1.5rem, -1.2rem) rotate(5deg);
}

.next-button {
    left: 50%;
    transform: translate(1.5rem, -1.2rem) rotate(-5deg);
}

.note-block {
    display: block;
    width: 12em;
    height: 12em;
    padding: 1em;
    background-color: var(--background-base);
    box-shadow: 4px 4px 2px black;
    text-align: center;
}

.header-note {
    position: absolute;
    right: 50%;
    transform: translateX(-1rem) rotate(5deg);
}

.notepad {
    position: absolute;
    left: 50%;
    transform: translateX(1rem) rotate(-5deg);
}

input {
    font-family: "Pacifico";
    font-weight: 100;
    background: transparent;
    border: none;
    text-align: center;
    margin: 0px;
}

textarea {
    font-family: "Pacifico";
    font-weight: 100;
    font-size: 1rem;
    border: none;
    background-color: transparent;
}

textarea:hover {
    background-color: #00000008;
}

input:hover {
    background-color: #ffffff40;
}

input.nametag {
    width: 100%;
    font-size: 1.4em;
    font-style: bold;
    color: #000000;
}

input.pronouns {
    width: 85%;
    font-size: 0.8em;
    color: #464646;
}

.notepad-note {
    box-sizing: border-box;
    resize: none;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    text-align: center;
    text-wrap: wrap;
    word-break: break-word;
    overflow: scroll;
    vertical-align: center;
}

/* for popups */
#blackground {
    position: fixed;
    background-color: #00000088;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}
