.ClickableIcon {
    width: 8rem;
    height: 8rem;
    background-color: white;
    border-radius: 100px 100px;
    text-align: center;
}

.ClickableIcon:hover {
    background-color: whitesmoke;
}

.CharacterIcon {
    height: 8em;
    width: auto;
    margin: 0px;
    border-radius: 100px 100px;
}