.PlayerNotes {
    position: relative;
    width: 55vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #FEFBF8;
    background-image: url("../../public/paper_lines.png");
    background-repeat: repeat;
}

.PlayerInfoSection {
    margin-top: 16px;
    padding: 8px;
    /* background-color: aliceblue; */
    min-width: 224px;
    /* width: 33%; */
    max-height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(-3deg);
    box-shadow: 4px 4px 2px black;
}

.PlayerInfoSection div {
    margin: 4px;
}

.PlayerCharacterImage {
    display: flex;
    justify-content: center;
}

input.Name, input.Pronouns {
    border: none;
    background-color: transparent;
    text-align: center;
}

input.Name:hover, input.Pronouns:hover {
    background-color: lightgrey;
}

.SwitchLabel {
    position: absolute;
    pointer-events: none;
    left: 50%;
    transform: translate(-50%, 4px);
}

.PlayerNoteSection {
    min-width: 224px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    margin: 0px;
    padding: 8px;
}
