.PlayerNotes {
    position: relative;
    width: 55vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: #FEFBF8;
    background-image: url("../../public/paper_lines.png");
    background-repeat: repeat;
}

.PlayerNotes .Close {
    width: 24px;
    height: 24px;
    font-family: "Pacifico";
    font-size: 0.75rem;
    position: absolute;
    top: 0px;
    right: 0px;
    transform: translate(12px, -12px);
    border-radius: 100px 100px;
    background-color: white;
    box-shadow: 1px 1px 1px black;
    border: none;
    opacity: 100%;
}

.PlayerInfoSection {
    margin-top: 16px;
    padding: 8px;
    /* background-color: aliceblue; */
    min-width: 224px;
    /* width: 33%; */
    max-height: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: rotate(-3deg);
    box-shadow: 4px 4px 2px black;
}

.PlayerInfoSection div {
    margin: 4px;
}

.PlayerCharacterImage {
    display: flex;
    justify-content: center;
}

input.Name, input.Pronouns {
    border: none;
    background-color: transparent;
    text-align: center;
}

input.Name:hover, input.Pronouns:hover {
    background-color: lightgrey;
}

.SwitchLabel {
    position: absolute;
    pointer-events: none;
    left: 50%;
    transform: translate(-50%, 4px);
}

.PlayerNoteSection {
    min-width: 14rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    margin: 0px;
    padding: 8px;
}

.Noteblock {
    width: 224px;
    padding: 8px;
    /* background-color: white; */
    box-shadow: 4px 4px 2px black;
    text-align: center;
    margin: 8px;
    /* transform: rotate(3deg); */
}

.NoteblockNote {
    resize: none;
    width: 100%;
    font-size: 1rem;
    text-align: center;
    text-wrap: wrap;
    overflow-x: hidden;
    overflow-y: hidden;
    word-break: break-word;
    vertical-align: center;
    background-color: transparent;
    border: 1px black solid;
}