.Storyteller {
    position: relative;
    width: 100%;
    margin: 0px;
    padding: 24px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.StorytellerPlaque {
    text-align: center;
    display: block;
    background-color: lightgray;
    min-width: 14rem;
    width: 90%;
    padding: 12px;
    box-shadow: 0px 6px 4px black;
}

.StorytellerBigTitle {
    text-align: center;
    font-size: 2rem;
}

.StorytellerScriptTitle {
    resize: none;
    min-width: 10rem;
    width: 100%;
    font-size: 1.4rem;
    text-align: center;
    background-color: transparent;
    text-wrap: wrap;
    border: none;
    overflow: hidden;
}

.StorytellerScriptTitle:hover {
    background-color: aliceblue;
}

.ListOfStorytellers {
    margin: 4px;
    padding: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.AuthorImage {
    margin: 0px 2.5rem;
}

.AuthorList {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    text-align: center;
}

.Author {
    list-style: none;
    position: relative;
    min-width: 12rem;
    max-width: 28rem;
    margin: 4px 1em;
    padding: 0.5em;
    background-color: white;
    box-shadow: 1px 1px 1px black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.Author .Name {
    width: 14rem;
    font-size: 1.4em;
    font-style: bold;
    color: #000000;
    text-overflow: ellipsis;
    overflow: hidden;
}

.Author .Pronouns {
    width: 12rem;
    font-size: 0.8em;
    color: #464646;
    text-overflow: ellipsis;
    overflow: hidden;
}

.AddAuthor {
    list-style: none;
    width: 100%;
    text-align: center;
    justify-content: center;
}

.AddAuthor button {
    width: 224px;
    background-color: white;
    border: none;
    border-radius: 100px;
    font-family: "Pacifico";
    font-size: 1.2rem;
    margin: 4px 1em;
    padding: 0.25rem;
}

.AddAuthor button:hover {
    background-color: lightgrey;
}